<h1>Genomic Database</h1>
<p>Welcome to the database full of DNA information.</p>
<%= link_to 'Go to datasets page', datasets_path, class: 'ui green button' %>
<%= link_to 'Upload a new dataset', new_dataset_path, class: 'ui green button' %>
